*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:rgb(32,33,36);
    font-family:Arial, sans-serif;
}
.time{
    display: flex;
    justify-content: space-between;
}
header {
    background-color:white;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo img {
        vertical-align: middle;
        width: 160px;
        height: 50px 
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 5px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.sidebar {
    display:none;
    width: 100px;
    text-align: center;
    padding: 20px;
    position: relative;
    left: 90%;
}
.sidebar div{
    margin: 20px;
    border-bottom: 2px solid white;
    width: fit-content;
}

.sidebar a{
    text-decoration: none;
    color: black;
}
.sidebar-icon img{
    width: 30px;
    display: none;
}

.carousel-item img {
    height: 490px; 
    object-fit: cover; 
}

.container img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.iplName{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
}
#iplNameDiv{
    background-color: rgb(34,53,119);
    color:white
}
.iplName img{
    width: 75px;
    height: 55px;
    margin: 8px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:white;
    color: #0c0c0c;
    padding: 20px;
}

.footer-column {
    flex:1 ;
    margin: 10px;
}
.footer-column a {
text-decoration: none;
color: #0c0c0c;
}
.iconDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.iconDiv img{
    width: 30px;
    height: 30px;
}

h5 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
}

@media screen and (max-width:900px) {
    .carousel-item img {
        height: 420px; 
        object-fit: cover;
    }
}

@media screen and (max-width:768px) {
    .logo img {
        vertical-align: middle;
        width: 135px;
        height: 35px 
} 
.iplName img{
    width: 70px;
    height: 50px;
    margin: 7px;
}
.iplName h3{
    font-size: 22px;
}
    
}

@media screen and (max-width:650px) {
    .carousel-item img {
        height: 250px; 
        object-fit: cover;
    }
        .col h6 {
            font-size: 14px;
        }
    .time p{
        font-size: 13px;
    }
    .t{
        font-size: 13px;
    }
}
@media screen and (max-width: 620px) {
    .sidebar {
        position: relative;
        left: 0%;
    }
    .sidebar a{
        font-size: 15px;
    }
    .sidebar-icon img{
        display: block;
        border: 3px solid red;
    }
    nav ul li {
        display: none;
    }
}
@media screen and (max-width: 621px) {
    .sidebar{
        display: none;
    }
}

@media screen and (max-width:538px) {
    .col h6 {
        font-size: 13px;
    }
.time p{
    font-size: 11px;
}
.t{
    font-size: 11px;
}
}


@media screen and (max-width:480px) {
    .sidebar {
        position: relative;
        left: 0%;
    }
    .sidebar-icon img{
        width: 25px;
    }
    .logo img {
        vertical-align: middle;
        width: 125px;
        height: 28px 
}  
.iplName img{
    width: 60px;
    height: 40px;
    margin: 5px;
}
.iplName h3{
    font-size: 19px;
}
.sidebar a{
    font-size: 10px;
}
    
}

@media screen and (max-width:445px) {
    .footer-column {
        flex:1 ;
        margin: 6px;
    }
    .iconDiv img{
        width: 24px;
        height: 24px;
    }
    .iconDiv{
        gap: 7px;
    }
    .footer-column h5{
        font-size: 15px;
        margin-bottom: 7px;
    }
    .footer-column p{
        font-size: 12px;
       margin: 3px 0;
    }
    .sidebar {
        display: block;
        position: relative;
        left: -16%;
    }
    .sidebar a{
        font-size: 10px;
    }
}

@media screen and (max-width:360px) {
    .carousel-item img {
        height: 180px; 
        object-fit: cover;
    }
    
}

@media screen and (max-width:320px) {
    .sidebar {
        position: relative;
        left: 00%;
    }
    .sidebar a{
        font-size: 10px;
    }
    .sidebar-icon img{
        width: 22px;
    }
.iplName img{
    width: 50px;
    height: 30px;
    margin: 3px;
}
.iplName h3{
    font-size: 16px;
}
.carousel-item img {
    height: 140px; 
    object-fit: cover;
}
.logo img {
    vertical-align: middle;
    width: 110px;
    height: 24px 
} 
    
}
@media screen and (max-width:200px){
    .sidebar-icon img{
        width: 18px;
    }
    .sidebar {
        position: relative;
        left: 00%;
    }
    .sidebar a{
        font-size: 8px;
    }
    .logo img {
        vertical-align: middle;
        width: 50px;
        height: 14px 
} 
.carousel-item img {
    height: 120px; 
    object-fit: cover;
}
.logo img {
    vertical-align: middle;
    width: 75px;
    height: 18px 
} 
}
