body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color:rgb(32,33,36);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: bold;
   
}
.logo img {
        vertical-align: middle;
        width: 160px;
        height: 50px 
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 5px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
.sidebar {
    display:none;
    width: 100px;
    text-align: center;
    padding: 20px;
    position: relative;
    left: 90%;
}
.sidebar div{
    margin: 20px;
}
.sidebar a{
    text-decoration: none;
    color: black;
}
.sidebar-icon img{
    width: 30px;
}
.sidebar-icon {
    display: none;
}

.container {
    max-width: 800px;
    margin: 20px auto;
}

.news-item {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    display: flex;
    align-items: center;
}

img {
    max-width: 150px;
    margin-right: 20px;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
}

p {
    margin: 10px 0;
    font-size: 16px;
}
.box{
    
    background-color: rgb(160,179,235);
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    font-weight: 500;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:rgb(32,33,36);
    color: white;
    padding: 20px;
}

.footer-column {
    flex: 1;
    margin: 10px;
}
.footer-column a {
text-decoration: none;
color:white;
}
.iconDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.iconDiv img{
    width: 30px;
    height: 30px;
}

h5 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
}

@media screen and (max-width:767px){
    
}

@media (max-width: 620px) {
    .sidebar-icon {
        display: block;
    }
    .sidebar {
        display: block;
        position: relative;
        left: 70%;
    }
    nav ul li {
        display: none;
    }
}

@media screen and (max-width:320px) {
    .sidebar {
        position: relative;
        left: 50%;
    }
    .sidebar-icon img{
        width: 22px;
    }
}

@media screen and (max-width:480px) {
    .sidebar-icon img{
        width: 25px;
    }
    .logo img {
        vertical-align: middle;
        width: 125px;
        height: 28px 
} 
}

@media screen and (max-width:445px) {
    footer{
        width: 100vw;
    }
    .footer-column {
        flex:1 ;
        margin: 6px;
    }
    .iconDiv img{
        width: 24px;
        height: 24px;
    }
    .iconDiv{
        gap: 7px;
    }
    .footer-column h5{
        font-size: 15px;
        margin-bottom: 7px;
    }
    .footer-column p{
        font-size: 12px;
       margin: 3px 0;
    }
}
